doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Born to Run
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='/css/bootstrap.min.css')
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    include navbar.pug

    div.container
      .row
        .col-sm-6.col-md-4
          img(alt='', src='/img/borntorun.jpg')
        .col-sm-6.col-md-4
              h3 Born To Run
              h4 by Bruce Springsteen
              p Over the past seven years, Bruce Springsteen has privately devoted himself to writing the story of his life, bringing to these pages the same honesty, humour and originality found in his songs. He describes growing up Catholic in Freehold, New Jersey, amid the poetry, danger and darkness that fuelled his imagination, leading up to the moment he refers to as 'The Big Bang': seeing Elvis Presley's debut on The Ed Sullivan Show. He vividly recounts his relentless drive to become a musician, his early days as a bar band king in Asbury Park, and the rise of the E Street Band.
              p Publisher: Simon &amp; Schuster Ltd
              p ISBN: 9781471157790
