doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Clover Moon
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='/css/bootstrap.min.css')
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Ela's bookshelf

    div.container
      .row
        .col-sm-6.col-md-4
          img(alt='', src='/img/clovermoon.jpg')
        .col-sm-6.col-md-4
              h3 Clover Moon
              h4 Jacqueline Wilson
              p Clover Moon's imagination is her best escape from a life of hardship in poverty-stricken Victorian London. When tragedy plunges her into a world of grief, Clover realizes that everything she loved about the place she called home is gone. Clover hears of a place she could run to, but where will she find the courage - and the chance - to break free? And could leaving her family be just what she needs to find a place that really feels like home?
              p Publisher: Random House Children's Publishers UK
              p ISBN: 9780857532732
