doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Books
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='/css/bootstrap.css')
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            p.navbar-text Bookshelf

    div.container
      .row
        .col-sm-6.col-md-4
          .thumbnail
            a(target='_blank', href='/books/harrypotter')
              img(alt='', src='/img/harrypotter.jpg')
            .caption
              h3 Harry Potter and the Cursed Child
              h4 J.K. Rowling
        .col-sm-6.col-md-4
          .thumbnail
            a(target='_blank', href='/books/borntorun')
              img(alt='', src='/img/borntorun.jpg')
            .caption
              h3 Born to Run
              h4 Bruce Springsteen

        .col-sm-6.col-md-4
          .thumbnail
            a(target='_blank', href='/books/clovermoon')
              img(alt='', src='/img/clovermoon.jpg')
            .caption
              h3 Clover Moon
              h4 Jacqueline Wilson
