doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Books
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='/css/bootstrap.css')
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            p.navbar-text Bookshelf

    div.container
      .row
        .col-xs-6.col-md-3
          a.thumbnail(href='#')
            img(src='/books/', alt='')
