doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Books
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='/css/bootstrap.css')
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            p.navbar-text Bookshelf

    div.container
      .row
        .col-sm-6.col-md-4
          img(alt='', src='/img/harrypotter.jpg')
        .col-sm-6.col-md-4
              h3 Harry Potter and the Cursed Child
              h4 J.K. Rowling
              p A full nineteen years has passed since the climactic finale of Harry Potter and the Deathly Hallows. Voldemort is a shadow of the past; Harry Potter himself is now a burdened employee at the Ministry of Magic, the wizarding triumphs of his youth seemingly shelved for the demands of family life. Once again, the vaulting arches of Kings Cross become the gateway to wild adventure as young Albus Severus Potter – Harry’s now second son – boards a waiting Hogwarts Express, prepared to fulfil his own destinies.
              p Publisher: Little, Brown Book Group
              p ISBN: 9780751565355
