doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ela's bookshelf
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='/css/bootstrap.min.css')
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    include books/navbar.pug

    div.container
      .row
        .col-sm-6.col-md-4
          .thumbnail
            a(target='_blank', href='books/harry-potter-and-the-cursed-child')
              img(alt='', src='/img/harrypotter.jpg')
            .caption
              h3 Harry Potter &amp; the cursed child
              h4 J.K. Rowling
        .col-sm-6.col-md-4
          .thumbnail
            a(target='_blank', href='books/born-to-run')
              img(alt='', src='/img/borntorun.jpg')
            .caption
              h3 Born to Run
              h4 Bruce Springsteen

        .col-sm-6.col-md-4
          .thumbnail
            a(target='_blank', href='books/clover-moon')
              img(alt='', src='/img/clovermoon.jpg')
            .caption
              h3 Clover Moon
              h4 Jacqueline Wilson
